<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body>
    <div class="container">
        {% load static %}
        <div class="row d-flex align-items-center justify-content-center" style="background-color: #006FBB; height: 120px;">
            <img style="margin-left: 40px; margin-bottom: 15px; width: 114px; height: 40px;" src="{% static 'img/villagelogo.png' %}" alt="logo">
            <h1 class="col-5 text-white">Village</h1>
            <a class="col-sm-1 text-white text-center text-decoration-none" href="#">About</a>
            <a class="col-sm-1 text-white text-center text-decoration-none" href="#">Contact Us</a>
            <a class="col-sm-2 text-white text-center text-decoration-none" href="#">Care Providers</a>
            <a class="col-sm-1 text-white text-center text-decoration-none" href="#">Institutions</a>
        </div>
        <div class="row" style="background-color: #E5E5E5; min-height: 800px;">
            {% include 'partials/reg.html' %}
            {% include 'partials/login.html' %}
        </div>
        {% include 'partials/footer.html' %}
    </div>
</body>
</html>