<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'partials/head.html' %}
<body>
    <div class="container">
        {% include 'partials/navbar.html' %}
        <div class="row d-flex justify-content-center border border-dark" style="background-color: #E5E5E5; min-height: 800px;">
            <div class="row d-flex pt-2 px-4 flex-column justify-content-evenly">
                <h2 class="col-sm-1 mb-2 align-self-center">Profile</h2>
                {% include 'partials/childerrors.html' %}
                <div class="col d-flex shadow" style="background-color: #F4F4F4; border-radius: 20px; max-height: 450px;">
                        <div class="row p-4">
                            <div class="row col-sm-3 d-flex flex-column" style="max-width: 250px;">
                                <div class="col pt-4 bg-white d-flex flex-column justify-content-evenly align-items-center align-contents-center shadow" style="border-radius: 10px; width: 230px;">
                                <form class="px-0 d-flex flex-column justify-content-evenly align-items-center align-contents-center" 
                                action="{% if this_child %} /update {% else %} /new {% endif %}"
                                method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <img style="max-width: 200px; max-height: 200px;"class="img-thumbnail" 
                                    {% if this_child.image %}
                                    src="{{ this_child.image.url }}"
                                    {% else %}
                                    src="{% static 'img/childpic.png' %}"
                                    {% endif %}
                                    alt="Profile Picture"/>
                                    <input class="mt-4" style="width: 200px;" type="file" name="image" accept="image/*">
                                </div>
                                <button type="submit" class="mt-4 mb-0 h5 bg-white border-white shadow" style="border-radius: 10px; height: 50px; width: 230px;">Update Profile</button>
                            </div>
                            <div class="row col mx-2 d-flex flex-column">
                                <div class="col p-4 bg-white d-flex justify-content-center align-items-center shadow" style="border-radius: 10px;">
                                    <div class="row" >
                                        <label class="col-4 my-2" for="name">Name:</label>
                                        <input class="col-8 text-center mt-2 p-0" type="text" name="name" class="form-control" {% if this_child.name != none %} value={{this_child.name}} {% endif %}
                                        {% if messages %}   
                                            {% for message in messages %}    
                                                {% if 'name' in message.tags %}
                                                placeholder="{{ message }}"
                                                {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            placeholder="Name"
                                        {% endif %}>
                                        <label class="col-4 my-2" for="birthday">Birthday:</label>
                                        {% if this_child.birthday != none %} 
                                        <input class="col-8 text-center mt-2" class="form-control" type="text" name="birthday" value="{{this_child.birthday | date:'Y-m-d'}}">
                                        {% else %}
                                        <input class="col-8 text-center mt-2" type="date" name="birthday" class="form-control">
                                        {% endif %}
                                        <label class="col-4 my-2" for="gender">Gender:</label>
                                        <input class="col-8 text-center mt-2" type="text" name="gender" class="form-control" {% if this_child.gender != none %} value={{this_child.gender}} {% endif %}
                                        {% if messages %}   
                                            {% for message in messages %}    
                                                {% if 'gender' in message.tags %}
                                                placeholder="{{ message }}"
                                                {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            placeholder="Gender"
                                        {% endif %}>
                                        <label class="col-4 my-2" for="name">E-Contact:</label>
                                        <input class="col-8 text-center mt-2" type="text" name="econtact" class="form-control" {% if this_child.econtact != none %} value={{this_child.econtact}} {% endif %}
                                        {% if messages %}   
                                            {% for message in messages %}    
                                                {% if 'econtact' in message.tags %}
                                                placeholder="{{ message }}"
                                                {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            placeholder="Guardian"
                                        {% endif %}>
                                        <label class="col-4 my-2" for="name">E-number:</label>
                                        <input class="col-8 text-center mt-2" type="text" class="form-control" name="enumber" {% if this_child.enumber != none %} value={{this_child.enumber}} {% endif %}
                                        {% if messages %}   
                                            {% for message in messages %}    
                                                {% if 'enumber' in message.tags %}
                                                placeholder="{{ message }}"
                                                {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            placeholder="Emergency Number"
                                        {% endif %}>
                                    </div>
                                </div>
                                <div class="mt-2 col bg bg-light border rounded-3 shadow" style="max-height: 72px">
                                    <div class="row d-flex align-items-center">
                                        <img class="col mt-1" style="height: 20px; max-width: 42px;" src="{% static 'img/like.png' %}" alt="like icon"/>
                                        <h5 class="mt-1 mb-0 ms-0 ps-0 col">Likes</h5>
                                    </div>
                                    <hr class="my-1">
                                <div class="row d-flex justify-content-center align-content-center">
                                    <div class="mb-2 col-11 text-start text-muted" style="max-height: 28px; overflow: hidden;">
                                        <input type="text" class="form-control px-2 py-0" name="likes" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit." value="{{this_child.likes}}">
                                    </div>
                                    </div>
                                </div>
                                <div class="mt-2 col bg bg-light border rounded-3 shadow" style="max-height: 72px">
                                    <div class="row d-flex align-items-center">
                                        <img class="col mt-1" style="height: 20px; max-width: 42px;" src="{% static 'img/dislike.png' %}" alt="like icon"/>
                                        <h5 class="mt-1 mb-0 ms-0 ps-0 col">Dislikes</h5>
                                    </div>
                                    <hr class="my-1">
                                    <div class="row d-flex justify-content-center align-content-center">
                                        <div class="mb-2 col-11 text-start text-muted" style="max-height: 28px; overflow: hidden;">
                                            <input type="text" class="form-control px-2 py-0" name="dislikes" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit." value="{{this_child.dislikes}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col d-flex flex-column">
                                <div class="col p-4 py-2 d-flex flex-column justify-content-center bg-white shadow" style="border-radius: 10px;">
                                    <h5 class="mb-3 text-center">Summary</h5>
                                    <div class="row" >
                                        <textarea class="col mx-2 p-0 d-flex text-center align-center form-control" style="border-radius: 10px; resize: none; height: 170px;" type="text" name="summary" class="form-control" placeholder="Share what you would like others to know about your child">{{this_child.summary}}</textarea>
                                    </div>
                                </div>
                                <div class="mt-2 col bg bg-light border rounded-3 shadow" style="max-height: 71px">
                                    <div class="row d-flex align-items-center">
                                        <img class="col mt-1" style="height: 14px; max-width: 44px;" src="{% static 'img/strength.png' %}" alt="like icon"/>
                                        <h5 class="mt-1 mb-0 ms-0 ps-0 col">Strengths</h5>
                                    </div>
                                    <hr class="my-1">
                                    <div class="row d-flex justify-content-center align-content-center">
                                        <div class="mb-2 col-11 text-start text-muted" style="max-height: 28px; overflow: hidden;">
                                            <input type="text" class="form-control px-2 py-0" name="strengths" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit." value="{{this_child.strengths}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 col bg bg-light border rounded-3 shadow" style="max-height: 71px">
                                    <div class="row d-flex align-items-center">
                                        <img class="col mt-1" style="height: 20px; max-width: 42px;" src="{% static 'img/weakness.png' %}" alt="like icon"/>
                                        <h5 class="mt-1 mb-0 ms-0 ps-0 col">Weaknesses</h5>
                                    </div>
                                    <hr class="my-1">
                                    <div class="row d-flex justify-content-center align-content-center">
                                        <div class="mb-2 col-11 text-start text-muted" style="max-height: 28px; overflow: hidden;">
                                            <input type="text" class="form-control px-2 py-0" name="weaknesses" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit." value="{{this_child.weaknesses}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col d-flex justify-content-center shadow" style="background-color: #F4F4F4; border-radius: 20px; max-height: 270px;">
                    <div class="row col py-4 px-2 d-flex justify-content-evenly">
                        <div class="row col-4 d-flex flex-column">
                            <div class="col bg bg-light border rounded-3 shadow">
                                <div class="row d-flex flex-row align-items-center">
                                    <h5 class="my-1 col-sm-7">Diagnosis</h5>
                                </div>
                                <hr class="mt-0 mb-1">
                                <div class="row d-flex justify-content-center align-content-center">
                                    <div class="mb-0 col text-start text-muted" style="max-height: 50px; overflow: hidden;">
                                        <textarea type="text" class="form-control px-2 py-0" style="resize: none;" name="diag" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">{{ this_child.diag }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 col bg bg-light border rounded-3 shadow">
                                <div class="row d-flex flex-row align-items-center">
                                    <h5 class="my-1 col-sm-6">Medications</h5>
                                </div>
                                <hr class="mt-0 mb-1">
                                <div class="row d-flex justify-content-center align-content-center">
                                    <div class="mb-0 col text-start text-muted" style="max-height: 50px; overflow: hidden;">
                                        <textarea type="text" class="form-control px-2 py-0" style="resize: none;" name="meds" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">{{ this_child.meds }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-4 d-flex flex-column">
                            <div class="col bg bg-light border rounded-3 shadow">
                                <div class="row d-flex flex-row align-items-center">
                                    <h5 class="my-1 col-sm-7">Physical Restrictions</h5>
                                </div>
                                <hr class="mt-0 mb-1">
                                <div class="row d-flex justify-content-center align-content-center">
                                    <div class="mb-0 col text-start text-muted" style="max-height: 50px; overflow: hidden;">
                                        <textarea type="text" class="form-control px-2 py-0" style="resize: none;" name="phys" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">{{ this_child.phys }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 col bg bg-light border rounded-3 shadow">
                                <div class="row d-flex flex-row align-items-center">
                                    <h5 class="my-1 col-sm-7">Dietary Restrictions</h5>
                                </div>
                                <hr class="mt-0 mb-1">
                                <div class="row d-flex justify-content-center align-content-center">
                                    <div class="mb-0 col text-start text-muted" style="max-height: 50px; overflow: hidden;">
                                        <textarea type="text" class="form-control px-2 py-0" style="resize: none;" name="diet" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">{{ this_child.diet }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-4 d-flex flex-column">
                            <div class="col bg bg-light border rounded-3 shadow">
                                <div class="row d-flex flex-row align-items-center">
                                    <h5 class="my-1 col-sm-7">Primary Physician</h5>
                                </div>
                                <hr class="mt-0 mb-2">
                                <div class="row d-flex justify-content-center align-content-center">
                                    <div class="mb-0 col text-start text-muted" style="max-height: 180px; overflow: hidden;">
                                        <textarea type="text" class="form-control px-2 py-0" style="resize: none; height: 140px;" name="doc" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">{{ this_child.doc }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% include 'partials/footer.html' %}
</body>
</html>